<p class="card-text">Fill out the form to import your service, your service needs to be running in order to import</p>
<form>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="serviceName">Service Name</label>
        <input type="text" class="form-control" id="serviceName" aria-describedby="emailHelp" placeholder="Enter service name">
      </div>
      <div class="form-group">
        <label for="start_command">Start Command</label>
        <input type="text" class="form-control" id="start_command" placeholder="Enter command...">      </div>
      <div class="form-group">
        <label for="restart_command">Restart Command</label>
        <input type="text" class="form-control" id="restart_command" placeholder="Enter command...">
      </div>

    </div>
    <div class="col-lg-6">
      <div class="form-group">
          <div class="form-group">
            <label for="serviceName">Description (not required)</label>
            <input type="text" class="form-control" id="description" aria-describedby="emailHelp" placeholder="Enter a description">
          </div>
        <label for="stop_command">Stop Command</label>
        <input type="text" class="form-control" id="stop_command" placeholder="Enter command...">
      </div>
      <div class="form-group">
        <label for="log_command">Log Command</label>
        <input type="text" class="form-control" id="log_command" placeholder="Enter command...">
      </div>

    </div>
  </div>
</form>
<button onclick="create_service()" class="btn btn-primary">Submit</button>