<p class="card-text">Choose to import a pre-existing systemd unit or create one now</p>
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" onclick="import_service()" class="btn btn-secondary">Import</button>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Create</button>
</div>