<html>

<head>
    <title>Driplet - Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="https://img.adi.wtf/white_droplet.png", width="3%;">
        <a class="navbar-brand" href="#">Driplet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
            </ul>
            <a href="login.html">
                <button type="button" class="btn btn-outline-light">Login / Register</button>
            </a>
        </div>
    </nav>
    <div class="container">
        <div class="col">
            <div class="jumbotron" style="margin-top: 4%">
                <h1 class="display-4">Login</h1>
                <p class="lead">Login to an existing account to access your services!</p>
                <hr class="my-4">
                <form>
                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addon-wrapping">@</span>
                        </div>
                        <input name="identifier" id="login-username" type="text" class="form-control"
                            placeholder="Username or email" aria-label="Username" aria-describedby="addon-wrapping"
                            required>
                    </div>
                    <br>
                    <div class="input-group flex-nowrap">
                        <input id="login-password-field" name="pwd" type="password" class="form-control"
                            placeholder="Password" aria-label="Username" aria-describedby="addon-wrapping" required>
                    </div>
                </form>
                <button class="btn btn-dark btn-block" id="login-button" type="submit" onclick="login()">Login</button>
            </div>
        </div>
        <div class="col">
            <div class="jumbotron vertical-center">
                <h1 class="display-4">Register</h1>
                <p class="lead">Get started with using Driplet!</p>
                <hr class="my-4">
                <form>
                    <div class="input-group flex-nowrap">
                        <input id="reg-email-address" name="email" type="text" class="form-control"
                            placeholder="Email Address" aria-label="Username" aria-describedby="addon-wrapping"
                            required>
                    </div>
                    <br>
                    <div class="input-group flex-nowrap">
                        <input id="reg-username" name="username" type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="addon-wrapping" required>
                    </div>
                    <br>
                    <div class="input-group flex-nowrap">
                        <input id="reg-password-field" name="pwd" type="password" class="form-control"
                            placeholder="Password" aria-label="Username" aria-describedby="addon-wrapping" required>
                    </div>
                </form>
                <button class="btn btn-dark btn-block" id="register-button" type="submit"
                    onclick="register()">Register</button>
            </div>
        </div>
    </div>
</body>
<script>
    // Get the input field
    var password_input = document.getElementById("login-password-field");

    password_input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("login-button").click();
        }
    });

    var registration_input = document.getElementById("reg-password-field")

    registration_input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("register-button").click()
        }
    })

    function login() {
        username = document.getElementById('login-username').value;
        password = document.getElementById('login-password-field').value;
        if (username == "" || password == "") {
            alert("Please fill out the fields entirely")
            return
        }
        axios.post('http://localhost:3141/endpoints/login', {
            username: username,
            password: password
        })
            .then((response) => {
                document.cookie = "userid=" + String(response['data']['id']);
                document.cookie = "token=" + String(response['data']['token']);
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    function register() {
        email = document.getElementById('reg-email-address').value;
        username = document.getElementById('reg-username').value;
        password = document.getElementById('reg-password-field').value;
        if (email == "" || username == "" || password == "") {
            alert("Please fill out the fields entirely.")
            return
        }
        axios.post('http://localhost:3141/endpoints/register', {
            email: email,
            username: username,
            password: password
        })
            .then(function (response) {
                document.cookie = "userid=" + String(response['id']);
                document.cookie = "token=" + String(response['token']);
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
    }
</script>


</html>